* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hero-section {
  padding-top: 12px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.header ul a {
  text-decoration: none;
}

.left-header a {
  color: #f9faf8;
  font-weight: 900;
  font-size: 24px;
}

.right-header a {
  color: #E5E7EB;
  font-size: 18px;
}

.hero-info {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.hero-text > p:first-of-type {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0;
}

.hero-text :nth-child(2) {
  margin: 0;
  font-size: 18px;
  color: #E5E7EB;
}

.btn-sign-up {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 32px;
  border-radius: 8px;
  margin-top: 8px;
}

.hero-info img {
  border-radius: 50px;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  margin: 48px;
}

.info-title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  align-self: center;
  margin-bottom: 48px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
}

.card .img-container {
  border: 3px solid #3882F6;
  width: 200px;
  height: 200px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card p {
  text-align: center;
  color: gray;
  padding: 0;
  margin: 0;
}

.quote-section {
  background-color: #E5E7EB;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
}

.quote-container {
  margin: 48px 98px;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #1f2937;
}

.quote-container .author {
  align-self: flex-end;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
}

.invite-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 96px;
  margin-bottom: 96px;
}

.invite-container {
  display: flex;
  width: auto;
  background-color: #3882F6;
  border-radius: 12px;
  padding-top: 48px;
  padding-bottom: 48px;
  justify-content: space-evenly;
  flex: 1;
}

.invite-text {
  color: #E5E7EB;
}

.invite-text span {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 24px;
}

.invite-container button {
  border-color: #F9FAF8;
  border-width: 3px;
  border-style: solid;
}

.footer {
  background-color: #1f2937;
  text-align: center;
  padding: 32px;
  color: #F9FAF8;
}